{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
        <div class="row"></div>
        {% for short in shorts %}
            <div class="col"></div>
             <div class="alert alert-secondary">
                  <h2 class="container p-1 my-2 bg-dark text-white"> SHORT {{ short.id }} </h2>
             </div>
             <div>
                <a href="{% url 'shorts-info' short.id %}">
                    <video
                            class="custom-circle"
                            width="100px"
                            src="{{ short.short_file.url }}">
                    </video>
                    Short #{{ short.id }}
                </a>
            </div>
        {% endfor %}
    <hr>

    <h1 class="alert alert-dark">
        <strong>Welcome to the WorldXG!</strong></h1>
    <div>
        <h1><span class="badge bg-secondary"> Start page </span></h1>
    </div>
    <div>
        <a href="/registration/"><button type="submit" class="btn btn-secondary">Sign up</button></a>
    </div>
    <h3>Hello, {{ name }}</h3>
    <div>
        <a href="/profile/{{request.user.profile.id}}">
            PROFILE {{ request.user.username}}
        </a>
    </div>
    <div> {{ request.user }} </div>
    <h4>Posts</h4>
    <div>
    {% for post in posts %}
        <div>
            <a href="{% url 'user-posts' post.creator.id %}">
                {{ post.creator.username }}
            </a>
        </div>
        <div>
            {% if post.photo %}
                <a href="{% url 'post-detail' post.id %}">
                    <img src="{{ post.photo.url }}" height="100px">
                </a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <h2> Categories </h2>
        <div>
            <a href="/category_info/">Category</a>
        </div>
    <h4> Shorts </h4>
        <div>
            <a href="{% url 'shorts-list' %}">Shorts</a>
        </div>


{% endblock %}