{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<h2><b> Profile </b> {{ profile.user.username }}</h2>

<div><b> Nickname </b> {{ profile.nickname }}</div>

<div>{{ profile.description }}</div>

<div> <h3 class="container p-2 my-5 bg-dark text-white">Subscribers: {{ user.name }}</h3></div>
<div>Subscribers count: {{ profile.subscriber.count }}</div>
<div>Subscribers:</div>
<div>
    {% for user in profile.subscribers.all %}
        <div>{{ user.username }}</div>
    {% endfor %}
</div>

<p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-warning">Subscribe (this view)</button>
    </form>
</p>


<p> {% if request.user in profile.subscriber.all %}
        <form action="/remove-follower/{{ profile.id }}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Cancel subscribe</button>
        </form>
    {% else %}
        <form action="/add-subscriber/{{ profile.id }}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-info">Subscribe (another view)</button>
        </form>
    {% endif %}
</p>

<div><h1 class="container p-2 my-5 bg-dark text-white">Posts: {{ user.username }}</h1></div>
    <div class="row container">
        {% for post in profile.user.posts.all %}
            <div class="post col-sm-4">
                    <a href="/posts/{{ post.id }}">
                        {{ post.name }}
                    </a>
                {% if post.photo %}
                    <div>
                        <img src="{{ post.photo.url}}" height="100px">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}