{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h2>Add short</h2>
    <br>
    <div class="row">
        <form class="col-lg-6 col-md-8" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <input class="form-control" type="file" name="short_file">
            </p>
            <p>
                <textarea class="form-control" name="view"></textarea>
            </p>

            <button class="btn btn-dark">Save</button>
        </form>
    </div>
{% endblock %}