{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<h2>Short</h2>
{% if short.creator %}
    <div>
        Author:
        <a href="{% url 'user-shorts' short.creator.id %}">
            {{ short.creator.username }}
        </a>
    </div>
{% endif %}
<div>
    Title: {{ short.name }}
</div>
    {% if short.short_file %}
        <img src="{{ short.short_file.url }}">
    {% endif %}
<div>
    Video: {{ short.short_file }}
</div>
<div>
     Views: {{ short.views_qty }}
</div>
<div>
    Unique views: {{ short.viewed_users.count }}
</div>
<div>
    Created at: {{ short.created_at }}
</div>
<div>
    <video width="500px" controls src="{{ short.short_file.url }}">
    </video>
</div>

{% endblock %}
